/*
## Table of Contents
##
## HEADER SECTION ...... header styles
## BURGER .............. burger styles
*/


/* GENERAL */
html {
  font-size: 10px;
  font-family: 'Roboto Condensed';
}

body {
  font-family: inherit;
  font-size: inherit;
  background: bisque;
}

h1 {
  font-size: 2.6rem;
}

h1, ul {
  margin: 0;
  padding: 0;
}

.body-wrapper {
  max-width: 90%;
  margin: auto;
}

.flex30 {
  flex: 0 0 30%;
}

/* HEADER SECTION */

.header {
  font-size: 1.5rem;
  display: flex;
  padding: 1rem 0;
  align-items: center;
}

.header__logo {
  text-transform: uppercase;
}

.header__logo span {
  font-weight: normal
}

/* menu */

.menu {
  list-style: none;
  display: flex;
}

.menu__item {
  padding: 0 1rem;
}

.menu__item:first-child {
  padding: 0 1rem 0 0;
}

.menu__link {
  color: #333;
  text-transform: uppercase;
  text-decoration: none;
}

/* burger */

.burger {
  width: 3rem;
  height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
}

.burger__item {
  display: inline-block;
  width: 100%;
  height: 0.4rem;
  background: tomato;
}

.burger__item:nth-child(1) {

}

.welcome {
  height: calc(100vh - 6rem); /* header height */
  min-height: 400px;
}


/* YB SLIDER */

.yb-slider {
  height: 100%;
  position: relative;
}

.yb-slider__item {
  display: flex;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
}

.yb-slider__item.active {
  visibility: visible;
  opacity: 1;
}

.yb-slider__left {
  position: relative;
}

.yb-slider__header {
  top: 10rem;
  font-size: 7rem;
  line-height: 1;
  position: absolute;
}

.yb-slider__subtitle {
  font-size: 0.5em;
}

.yb-slider__title {
  margin: 0;
}

.yb-slider__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.yb-slider__controls {
  position: absolute;
  bottom: 0;
  left: 0;
}

.yb-slider__btn {
  background: tomato;
  border: 0;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  padding: 1.2rem;
  color: #fff;
}

.yb-slider__btn:focus {
  outline: none;
  box-shadow: .1rem .1rem .2rem #333;
}